html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

h2, h3 {
    text-align: center;
    padding:0;
    border:0;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.container {
    width:80%;
    padding: 0;
    min-width:800px;
    margin:auto;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

.results_container {
    width:70%;
    height: 200px;
    border:1px solid black;
    padding: 0%;
    min-width:800px;
    margin:auto;
    text-align:left;
    font-size: 12px;
    font-weight: bold;
    overflow:auto;
    border-radius: 15px;

}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.container .blocktext {
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.container .content .blocktext {
    margin-left: auto;
    margin-right: auto;
    width:80%;
    text-align: left;
}

.user_results_container {
    text-align: left;
    font-size: 12px;
    border:1px solid black;
    padding: 1em;
    height:400px;
    width:46%;
    float: left;
    border-radius: 15px;
    overflow: auto;
    margin: 1em;
}

.form_container {
    text-align: left;
    font-size: 12px;
    border:1px solid black;
    padding: 1em;
    height:400px;
    width:70%;
    float:left;
    border-radius: 15px;
    overflow: auto;
    margin: 1em;
}

footer {
    position: fixed;

    left: 0;

    right: 0;

    bottom: 0;

}

div.container {
    overflow: auto;
    width: 100%
text-align: center;
    border-radius: 15px;
}

div.container {
    overflow: auto;
    width: 100%
text-align: center;
    border-radius: 15px;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.outer {
    width: 75%;
    -webkit-box-shadow: 0px 0px 10px #4d4d4d;
    -moz-box-shadow: 0px 0px 10px #4d4d4d;
    box-shadow: 0px 0px 10px #4d4d4d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border:solid white 3px;
    overflow: hidden;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img.title {
    height:auto;
    width:20%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    padding: 0.15em;
}


.button {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

/*http://answers.squarespace.com/questions/2750/drop-shadow-on-header-menu-what-css-is-required*/
header {
    background-color:aquamarine;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

header.pwdgen_title {
    background-color:white;
    -webkit-box-shadow: 0px 0px 0px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 0px 0px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 0px 0px rgba(100, 100, 100, 0.49);
}

a.button1 {
    display: block;
    width: 115px;
    height: auto;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 5px 5px 5px #888888;/*http://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
}

/*referred to: http://stackoverflow.com/questions/3898781/changing-a-button-color-on-hover*/
/*referred to: http://www.ahfb2000.com/threads/2867-I-don-t-want-my-links-to-change-colors*/
a.button1:hover {
    text-decoration: none;
    background-color: teal;
    color:white;
}

a.button1:link{
    color:white;
}

nav {
    padding-bottom: 1em;
}

/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}